<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- movie.title %> | Dawflix</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <link rel="stylesheet" href="../styles.css">
    <script src="../js/main.js"></script>
    <link rel="icon" type="image/png" href="../favicon.png" />
  </head>
  <body>
    <script>window.movie = <%- JSON.stringify(movie) %>;window.savedMovies = <%- JSON.stringify(savedMovies) %></script>
    <div class="movie-background" style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.2) 50%, rgba(20, 20, 20, 0.2) 70%, rgba(20, 20, 20, 1) 100%), url(/cdn/movies/<%- movie.id %>/image.jpg)"></div>
    <%- include('header.ejs') -%>
    <main>
      <div class="container main-movie-container">
        <div class="category-wrapper">
          <div class="category"><%- movie.category %></div>
          <% if (locals.scores) { %>
            <div class="stars-tag"><%- averageScore %> estrellas</div>
          <% } %>
        </div>
        <h1 class="movie-title"><%- movie.title %></h1>
        <p class="movie-resume"><%- movie.resume %></p>
        <div class="movie-buttons">
          <a href="/cdn/movies/<%- movie.id %>/movie.mp4" target="_blank" class="play-movie-btn"><i class="fa-solid fa-play"></i> Reproducir</a>
          <% if (locals.savedMovies?.find(saved => saved.movie === movie.id)) { %>
            <button id="remove-movie-btn" class="save-movie-btn"><i class="fa-solid fa-circle-minus"></i> Quitar película</button>
          <% } else { %>
            <button id="save-movie-btn" class="save-movie-btn"><i class="fa-solid fa-circle-plus"></i> Guardar película</button>
          <% } %>
        </div>
      </div>
      <div class="container scores-container vertical score-container">
        <h1 class="title-score">Valoraciones de la película</h1>
        <% if (locals.scores)  { %>
          <div class="title-score-text">Mira las valoraciones que han hecho otros usuarios sobre esta película</div>
          <div class="scores-wrapper">
            <% for (const score of scores) {%>
              <div class="score-card">
                <div><%- score.username %> (<%- score.score %> estrellas)</div>
                <div class="score-comment"><%- score.comment  %></div>
              </div>
            <% } %>
          </div>
        <% } else { %>
          <div class="title-score-text">Esta película todavía no ha recibido valoraciones</div>
        <% } %>
      </div>
      <div class="container second-index-container vertical score-container">
        <h1 class="title-score">Dejar valoración</h1>
        <div class="title-score-text">Deja aquí tu valoración sobre la película y comparte tu opinión con otros usuarios</div>
        <form id="movie-score-form">
          <div id="star-container">
            <i data-value="1" class="fa-solid fa-star"></i>
            <i data-value="2" class="fa-solid fa-star"></i>
            <i data-value="3" class="fa-solid fa-star"></i>
            <i data-value="4" class="fa-solid fa-star"></i>
            <i data-value="5" class="fa-solid fa-star"></i>
          </div>
          <textarea id="movie-text-valoration" name="valoracion" cols="30" rows="10"></textarea>
          <button class="submit-score" type="submit">Publicar</button>
        </form>
      </div>
    </main>
    <%- include('footer.ejs') -%>
  </body>
</html>