<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio | Dawflix</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./styles.css">
    <link rel="icon" type="image/png" href="favicon.png" />
  </head>
  <body>
    <%- include('header.ejs') -%>
    <main>
      <div class="container home-container vertical height-fit">
        <div class="featured-container">
          <h2 class="featured-container-title">Todas las películas</h2>
          <div class="movies-series-wrapper">
            <% for (const movie of movies) {%>
              <div class="featured-card">
                <a class="featured-card-link" href="/movies/<%- movie.id %>">
                  <img class="featured-card-img" src="./cdn/movies/<%- movie.id %>/thumbnail.jpg" alt="<%- movie.title %>">
                  <div class="featured-card-title"><%- movie.title %></div>
                </a>
              </div>
            <% } %>
          </div>
        </div>
      </div>
    </main>
    <%- include('footer.ejs') -%>
  </body>
</html>