<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Películas y series guardadas | Dawflix</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <link rel="stylesheet" href="./styles.css">
    <script src="./js/main.js"></script>
    <link rel="icon" type="image/png" href="favicon.png" />
  </head>
  <body>
    <div class="movie-background"></div>
    <%- include('header.ejs') -%>
    <main>
      <div class="container main-home-container">
        <h1 class="info-title">Mis películas y series guardadas</h1>
        <div>
          <h2 class="saved-movies-title">Películas</h2>
          <div class="featured-wrapper">
            <% if (locals.savedMovies) { %>
              <% for (const movie of savedMovies) { %>
                <div class="featured-card">
                  <a href="../movies/<%- movie.id %>">
                    <img class="featured-card-img" src="../cdn/movies/<%- movie.id %>/thumbnail.jpg" alt="<%- movie.title %>">
                    <div class="featured-card-title"><%- movie.title %></div>
                  </a>
                </div>
                <% } %>
            <% } else { %>
              <div class="text-grey">No has guardado ninguna película todavía</div>
            <%} %>
          </div>
        </div>
        <div>
          <h2 class="saved-movies-title">Series</h2>
          <div class="featured-wrapper">
            <% if (locals.savedSeries) { %>
              <% for (const serie of savedSeries) { %>
                <div class="featured-card">
                  <a href="../series/<%- serie.id %>">
                    <img class="featured-card-img" src="../cdn/series/<%- serie.id %>/thumbnail.jpg" alt="<%- serie.title %>">
                    <div class="featured-card-title"><%- serie.title %></div>
                  </a>
                </div>
                <% } %>
            <% } else { %>
              <div class="text-grey">No has guardado ninguna serie todavía</div>
            <%} %>
          </div>
        </div>
      </div>
    </main>
    <%- include('footer.ejs') -%>
  </body>
</html>